/gss/output_*.musicxml
*.odt
/gss/Expand/
/gss/Archive/
/drafts/
/gss/gss_project.sublime-workspace
/gss/test*
/gss/*.lnk
/gss/*.pl
/gss/*.pdf
/gss/pdf/*.jpg
/gss/pdf/*.xhtml
/gss/pdf/ogss_*.xhtml
