@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* end reset */

@page {
  margin: 5px !important;
}

body {
    font-size:100%;
    margin-left:2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom:2%;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
}

img {
    margin:0 auto;
    padding:0;
    max-width: 95%;
    max-height: 95%;
}

h1 {
    text-indent:0;
    margin-left:0;
    margin-right:0;
    text-align:left;
    orphans:3;
    widows:3;
    page-break-after:avoid;
}

h2 {
    text-indent:0;
    margin-left:0;
    margin-right:0;
    text-align:left;
    orphans:3;
    widows:3;
    page-break-after:avoid;
}

h3 {
    text-indent:0;
    margin-left:0;
    margin-right:0;
    text-align:left;
    orphans:3;
    widows:3;
    page-break-after:avoid;
}

h4 {
    text-indent:0;
    margin-left:0;
    margin-right:0;
    text-align:left;
    orphans:3;
    widows:3;
    page-break-after:avoid;
}

p {
    text-indent:20px;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:7px;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
    text-align:justify;
    orphans:3;
    widows:3;
}

.classTitle {
    text-align:center;
}

.classHeadingCentered {
    text-align:center;
}

.classHeadingBasic {
    text-align:left;
    page-break-after:avoid;
}

.classFirstPara {
    text-indent:0;
    font-size:106%;
}

.classBasic {
    text-indent:0;
    margin-left:0px;
    font-size:106%;
}

.classCenteredBig {
    text-align:center;
    font-size:110%;
}

.classTocPart {
    margin-left:0;
    font-size:122%;
}

.classTocChapter {
    margin-left:30px;
    font-size:108%;
}

.classBigPara {
    text-indent:0;
    margin-left:20px;
    margin-right:20px;
    font-size:112%;
}

.classQuote {
    page-break-after:avoid;
    text-indent:0;
    margin-left:20px;
    margin-right:20px;
    font-size:107%;
}

.classQuoteAuthor {
    page-break-before:avoid;
    text-indent:0;
    margin-left:60px;
    font-size:105%;
}

.classPageBreak {
    page-break-before:always;
    font-size:5pt;
}

.classImageFullPage {
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
	text-align:center;
    page-break-before:always;
    page-break-after:always;
}

ul {
    margin-top:0;
    margin-bottom:5px;
}

ol {
    margin-top:0;
    margin-bottom:5px;
}

li {
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:3px;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
    text-align:left;
    orphans:3;
    widows:3;
}

b {
    font-size:104%;
}

i {
    font-size:102%;
}

.classListItemExtraVerticalGap {
    margin-top:8px;
    margin-bottom:8px;
}
