body {
    font-size:100%;
    margin-left:2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom:2%;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
}

h1, h2, h3, .headsmall {
    text-indent:0;
    margin-left:0;
    margin-right:0;
    text-align:center;
    orphans:3;
    widows:3;
    page-break-after:avoid;
}

h3 {
    text-align:left;
}

p {
    text-indent:20px;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:7px;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
    text-align:justify;
    orphans:3;
    widows:3;
}

b {
    font-size:105%;
}

i {
    font-size:102%;
}

.headmedium {
    font-size:120%;
}

.headsmall {
    font-size:90%;
}

.lyric,
.action{
    padding-top:2px;
    padding-bottom:2px;
    margin-top:2px;
    margin-bottom:2px;
}

.singername,
.singermainmale,
.singermainfemale{
    font-size:108%;
    color:black;
}

.singermainmale,
.singermainfemale{
    font-weight: bold;
}

.highlight{
    background-color:yellow;
}

img {
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
    max-width: 100%;
    max-height: 100%;
}
